.login-form-container {
    width: 400px;
    margin: 37px auto;
}
.login-form-container h4{
    font-family: 'Lobster Two';
    font-size: 38px;
}
.login-email-container, .login-pass-container {
    display: flex;
    align-content: center;
    height: 44px;
    border: 1px solid gray;
    border-radius: 9px;
}

.login-icon-container {
    padding: 8px;
}

.email-input-container, .pass-input-container {
    height: 100%;
    width: 100%;
    margin-left: 0px;
}

.email-input, .pass-input {
    height: 100%;
    margin: 0px;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 25px;
}

.reset-pass-link {
    color: mediumblue;
    font-size: 17px;
    cursor: pointer;
}

.reset-pass {
    margin-top: 19px;
}

.reg-link {
    text-decoration: none;
    margin-left: 9px;
    color: mediumblue;
}

.login-btn {
    border: none;
    background: #741641;
    width: 100%;
    height: 44px;
    border-radius: 9px;
    font-size: 18px;
    font-family: 'Monda', cursive;
    outline: none;
    color: white;
    margin-top: 11px;
}

.google-btn {
    border: none;
    background: #741641;
    width: 100%;
    height: 44px;
    border-radius: 9px;
    font-size: 18px;
    font-family: 'Monda', cursive;
    outline: none;
    color: white;
    margin-top: 11px;
}

.line-container {
    height: 42px;
    display: flex;
    align-items: center;
}

.line-1,
.line-2 {
    width: 178px;
    height: 1px;
    background-color: black;
}

.or {
    font-size: 18px;
    padding: 15px;
}

.google-icon {
    font-size: 24px;
    margin-right: 20px;
}

@media (max-width: 576px) {
    .login-form-container {
        width: 100%;
        /* margin: 37px auto; */
    }
}