.form-container .register-btn{
    border: none;
    background: #741641;
    width: 100%;
    height: 44px;
    border-radius: 9px;
    font-size: 18px;
    font-family: 'Monda', cursive;
    outline: none;
    color: white;
}
.login-link{
    text-decoration: none;
    margin-left: 9px;
    color: mediumblue;
}

.exist-login{
    margin-top: 19px;
}