.reg-form-container .register-btn {
    border: none;
    background: #741641;
    width: 100%;
    height: 44px;
    border-radius: 9px;
    font-size: 18px;
    font-family: 'Monda', cursive;
    outline: none;
    color: white;
    display: block;
    margin: auto;
}

.login-link {
    text-decoration: none;
    margin-left: 9px;
    color: mediumblue;
}

.exist-login {
    margin-top: 19px;
    text-align: center;
}

.reg-form-container {
    width: 550px;
    margin: 37px auto
}

.reg-form-container h4 {
    font-family: 'Lobster Two';
    font-size: 38px;
}

.reg-form {
    margin: 23px auto;
}

.name-field-container,
.email-field-container,
.pass-field-container,
.confirm-pass-field-container {
    border: 1px solid #cebfbf;
    border-radius: 15px;
    margin: auto;
    display: flex;
    align-content: center;
}

.icon-container {
    width: 27px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 16px;
    padding-left: 9px;
}

.user-icon {
    font-size: 17px;
}


.reg-form input {
    padding-left: 13px;
    height: 47px;
    outline: none;
    display: block;
    border: none;
    width: 100%;
    border-radius: 25px;
}
.name-field, .email-field, .pass-field, .confirm-pass-field{
    width: 100%;
}
@media (max-width: 576px) {
    .reg-form-container {
        width: 300px;
    }

    .reg-form input {
        width: 100%;
        margin: 1px auto;
        padding-left: 10px;
        height: 47px;
        outline: none;
        display: block;
        border: none;
    }

    .name-field-container,
    .email-field-container,
    .pass-field-container,
    .confirm-pass-field-container {
        width: 100%;
        border: 1px solid #cebfbf;
        border-radius: 15px;
        margin: auto;
        display: flex;
        align-content: center;
    }
    .reg-form {
        margin: 23px auto;
        width: 100%;
    }
}