.add-new-item{
    background: #210a0a;
    width: 143px;
    margin-left: 86%;
    margin-top: 8%;
    padding: 11px;
    border-radius: 12px;
}

.manage-link{
    text-align: center;
    display: block;
    text-decoration: none;
    color: #52ff00;
}

.manage-link:hover{
    color: white;
}