.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.heading{
    font-family: 'Lobster Two', cursive;
}

.heading .heading-txt_1, .heading-txt_2{
    font-size: 34px;
}

.menu-bar{
    height: 84px;
}

.fire-icon{
    color: orange;
    font-size: 34px;
}

.menu-link, .manageitem, .add-inventory-item, .my-items{
    text-decoration: none;
    color: white;
    margin-right: 26px;
    font-family: 'Monda';
}


.signout-btn{
    border: none;
    background: darkolivegreen;
    color: white;
    border-radius: 9px;
    padding: 3px 9px;
    transition: all 0.4s;
    font-family: 'Monda';
}

.signout-btn:hover{
    background-color: aliceblue;
    color: black;
}

.userName{
    border: none;
    background: orange;
    border-radius: 50%;
    margin-left: 19px;
    font-weight: bold;
}