.form-container{
    width: 400px;
    margin:51px auto;
}

.form-container input{
    width: 100%;
    margin:12px 0px;
    padding-left: 10px;
    height: 45px;
    border: 1px solid #cebfbf;
    outline: none;
    border-radius: 9px;
}

.form-container .add-btn{
    border: none;
    background: #30c3c8;
    width: 100%;
    height: 37px;
    border-radius: 9px;
    font-size: 18px;
    font-family: 'Monda', cursive;
    outline: none;
}
.form-container h4{
    font-family: 'Lobster Two', sans-serif;
    font-size: 34px;
}

.back-btn{
    margin-left: 75px;
    margin-top: 30px;
    border: none;
    background-color: transparent;
}

.back-btn .back-icon{
    font-size: 22px;
}