.manage-product-container{
    margin: 30px auto;
    border: 1px solid #e3d0d0;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}
.manage-product-container .img-container .product-image{
    width: 105px;
}

.manage-product-container div{
    margin-right: 10px;
    width:200px;
}
.manage-product-container div p{
    font-weight: bold;
    font-family: 'Monda';
}

.dlt-btn{
    border: 1px solid #e3b5b5;
    padding: 2px 9px;
    border-radius: 3px;
    background: #c9e8e8;
    color: black;
    cursor: pointer;
}

