.banner{
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1517646458010-ea6bd9f4a75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHNwaWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-txt h2{
    color: #ffffff;
    font-size: 114px;
    font-family: 'Lobster Two', cursive;
    text-align: center;
}

@media (max-width: 1216px) {
    .header-txt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 768px) {
    .header-txt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header-txt h2{
        font-size: 80px;
    }
}