.products-heading h2{
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-size: 44px;
}

.products-section {
    height: 80vh;
}

.products-heading {
    margin-top: 48px;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    justify-items: center;
}