.products-heading h2{
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-size: 44px;
}

.products-section {
    height: 80vh;
}

.products-heading {
    margin-top: 48px;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    justify-items: center;
}

.manage-btn{
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 190px;
    margin: auto;
    padding: 9px 0px;
    color: aliceblue;
    background: #051621;
    font-size: 18px;
    transition: all 0.4s;
}

.manage-btn:hover{
    color: white;
    background-color: black;
}

.manage{
    height: 80px;
    padding: 20px 0px;

}