.footer-container {
    /* height: 50vh; */
    background: url('https://images.unsplash.com/photo-1518450806633-2bd5a56a5309?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODR8fHNwaWNlJTIwY2F0YWxvZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-info-box {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    padding: 16px;
}

.footer-box {
    height: 275px;
    width: 300px;
    border-right: 1px solid white;
    color: #e6dede;
}

.footer-box:nth-child(4) {
    border-right: 1px solid transparent;
}

.footer-heading-txt {
    font-size: 18px;
    font-family: 'Monda';
    margin-left: 16px;
}

.location-container,
.mobile-container,
.phone-container,
.envelop-container {
    display: flex;
    margin-left: 11px;
    font-family: 'Monda';
    height: 55px;
}

.location,
.mobile,
.phone,
.envelop {
    margin-left: 10px;
}

:is(.location, .mobile, .phone, .envelop) p {
    font-size: 16px;
    color: #16d9d7;
}

.location-icon,
.mobile-icon,
.phone-icon,
.envelop-icon {
    font-size: 22px;
}

.footer-info-txt {
    font-size: 17px;
    font-family: 'Monda';
    margin-left: 17px;
    color: #16d9d7;
}

.copy-right {
    color: white;
    text-align: center;
    font-family: 'Monda';
    font-size: 19px;
}

@media (max-width: 1216px) {
    .footer-info-box {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: 50px;
    }

    .footer-box {
        border-right: 1px solid transparent;
        border-bottom: 1px solid #e6dede;
    }

}

@media (max-width: 992px) {
    .footer-info-box {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: 50px;
    }

    .footer-box {
        border-right: 1px solid transparent;
    }

}

@media (max-width: 768px) {
    .footer-info-box {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: 50px;
    }

    .footer-box {
        border-right: 1px solid transparent;
        height: 275px;
        width: 270px;
        color: #e6dede;
    }
}
@media (max-width: 576px) {
    .footer-info-box {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        gap: 50px;
    }

    .footer-box {
        border-right: 1px solid transparent;
        height: 275px;
        width: 270px;
        color: #e6dede;
    }
} 