.about-us{
    padding: 48px;
}

.about-us h4{
    font-size: 44px;
    text-align: center;
    font-family: 'Lobster Two';
}
.about-us-txt{
    margin: auto;
    padding: 14px;
}
.about-us-txt p{
    text-align: center;
    font-family: 'Monda';
    font-size: 16px;
}

.about-us-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
}
.about-us-box{
    box-shadow: 0px 0px 10px 6px #ebeeee;
    width: 180px;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
}

.about-us-box h2{
    font-size: 35px;
    text-align: center;
    font-family: 'Monda';
}

.about-us-box p{
    font-size: 25px;
    text-align: center;
    font-family: 'Monda';
}

 @media (max-width: 1216px) {
    .about-us-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        gap: 50px;
    }
   
}
@media (max-width: 992px) {
    .about-us-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        gap: 50px;
    }
}
@media (max-width: 768px) {
    .about-us-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        gap: 50px;
    }

    .about-us-box{
        box-shadow: 0px 0px 10px 6px #ebeeee;
        width: 170px;
        height: 170px;
        border-radius: 12px;
        padding: 10px;
    }
    .about-us-txt{
        /* height: 230px; */
        margin: auto;
        padding: 14px;
    }
    .about-us-box h2{
        font-size: 40px;
        text-align: center;
        font-family: 'Monda';
    }
    
    .about-us-box p{
        font-size: 26px;
        text-align: center;
        font-family: 'Monda';
    }
}
@media (max-width: 576px) {
    .about-us-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: center;
        gap: 50px;
    }
    .about-us-box{
        box-shadow: 0px 0px 10px 6px #ebeeee;
        width: 140px;
        height: 140px;
        border-radius: 12px;
        padding: 10px;
    }
    .about-us-txt{
        margin: auto;
        padding: 14px;
    }
    .about-us-txt p{
        text-align: center;
        font-family: 'Monda';
        font-size: 12px;
    }
    .about-us-box h2{
        font-size: 30px;
        text-align: center;
        font-family: 'Monda';
    }
    
    .about-us-box p{
        font-size: 20px;
        text-align: center;
        font-family: 'Monda';
    }
}